.entete {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 15%;
    width: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
    background-color: #3d3d3d;
}

.entete h1 {
    color: white;
}
.page {
    position: fixed;
    left: 20%;
    top: 15%;
    width: 80%;
    height: 79%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.page p{
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.sidebar{
  position: fixed;
  top: 15%;
    left: 0;
    height: 79%;
    width: 20%;
    transition: all 0.5s ease;
    background: #3c6382;
}

.sidebar h3 {
  text-align: center;
  color: whitesmoke;
  padding: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar .nav-links > li{
  padding-left: 10%;
  padding-block: 5%;
  text-align: center;
}

.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links > li.active:before,
.sidebar .nav-links > li:before{
  position:absolute;
  left:0;
  top:0;
  content:'';
  width:4px;
  height:100%;
  background:#3c6382;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  border-top-right-radius:5px;
  border-top-right-radius:5px;
}
/* style pour les balises a dans la sideBar */
.sidebar .nav-links li a{
  display: flex;
  text-align: center;
  text-decoration: none;
  color:white;
}

.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #4882b3;
  display: none;
}

.sidebar .nav-links li .sub-menu a{
  color: white;
  font-size: 15px;
  padding: 10px 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.connexion{
  margin-right:80%;
  position: absolute;
}

.deconnexion {
  margin-right:80%;
  position: absolute;
}

.deconnexion .bouton{
  background-color: red;
  border: none;
  border-radius: 5px;
  font: 16px;
  padding: 6px;
  color: white;
}

